# Dependencies
node_modules/
.pnpm-store/

# Production build output
dist/
build/

# Local Environment Variables
.env
.env.local
.env.*.local

# IDE & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/
